body{
    background-color: lightgray;
    background-image: url("../images/background-img.jpg"); /* Adjust the path accordingly */
}
h2 {
    color: orangered;
}

p{
    font-weight: bold;
}

.text-center{
    text-align: center;
}
