body{
    background-color: lightgray;
    background-image: url("https://repoeli.github.io/my-first-project/assets/images/background-img.jpg");
}
h2 {
    color: orangered;
}

p{
    font-weight: bold;
}

.text-center{
    text-align: center;
}
